<!--  Work in progress start  -->
<section class="wipPage">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column">
        <div class="imgIcon">
          <%= image_tag 'wip.png', alt: 'Work in progress' %>
        </div>
        <h1>Work in progress</h1>
        <p>
          Contact: <a href="mailto:saurabh@sipandcode.tech">saurabh@sipandcode.tech</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
