<section id="about" class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 icon-boxes py-5 px-lg-5" data-aos="fade-left">
        <h3>Lorem Ipsum is simply dummy text industry.</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </p>

        <div class="col-xl-12 col-lg-12 d-flex flex-column flex-md-row flex-lg-row align-items-stretch">
          <div class="col-lg-4 col-md-4 me-3">
            <div class="icon-box d-flex flex-column align-items-center" data-aos="fade-up">
              <div class="icon mb-3"><i class="bi bi-code-slash"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 me-3">
            <div class="icon-box d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="100">
              <div class="icon mb-3"><i class="bi bi-code-slash"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="icon-box d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="200">
              <div class="icon mb-3"><i class="bi bi-code-slash"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
