<section class="call-to-action">
  <div class="container aos-init aos-animate">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3 class="cta-title">Call To Action</h3>
        <p class="cta-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center d-flex justify-content-center" data-aos="flip-up">
        <a class="cta-btn align-middle" href="#contact">Call To Action</a>
      </div>
    </div>
  </div>
</section>
