<section id="services" class="features section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <header class="section-header">
      <h3>Services</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </header>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 " data-aos="fade-up">
        <div class="box">
          <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 " data-aos="fade-up" data-aos-delay="500">
        <div class="box">
          <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text,
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
