<footer id="footer" class="footerSection">
  <div class="container">
    <div class="social-icons mt-2 pt-4">
      <ul class="d-flex justify-content-center">
        <li><a href=""><i class="bi bi-linkedin"></i></a></li>
        <li><a href=""><i class="bi bi-facebook"></i></a></li>
        <li><a href=""><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Sip & Code</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
